.Container-main{
    width:60vw;
    margin-left:20vw;
    margin-top:10vh;
}
.Move, .Wrap{
    margin:auto;
    width:73vw;
    margin-left: 23vw;
    margin-top: 40px;
    margin-bottom:40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius:10px;
}
@media screen and (max-width: 1000px){
    .Move, .Wrap{
        width:90vw;
        margin:auto;
        margin-bottom:50px;
    }
}
.Wrap{
    margin-top:20vh
}
